@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
/* Inicio de navbar */
html{
  scroll-behavior: smooth;
}
.nav-bar {
    background-color: #E6F1F1;
    text-align: right;
    padding: 20px;
    font-weight: bolder;
  }


  
  .menu-icon {
    display: none;
    width: 30px;
    height: 20px;
    background: #000;
    cursor: pointer;
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    display: inline;
    margin-right: 10px;
  }
  
  .menu a {
    text-decoration: none;
    color: #000;
}



  /* Fin de navbar */



  /* inicio de (home-contenedor) */

.home-contenedor{
    width: 100%;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    font-size: 26px;
    background-color: #E6F1F1;
   
}

strong{
    color: #1EA8D3;

}
.home-contenedor    h1{
    animation: rebote 1s infinite;
    animation-duration: 3   s;
}
.btn-sobre-nosotros{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1EA8D3;
    box-shadow: 0px 0px 10px 4px rgb(0,0,0,0.3);
    cursor: pointer;
    transition: 0.3s all;
    font-size: 18px ;
    animation-name: slideIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    font-weight: bolder;

}
.btn-sobre-nosotros:hover{
    transform: scale(1.1);
    transition: 0.3s all;
}


/* fin de (home-contenedor) */

/* inicio de (card-acerca-de)*/
.card-acerca-de {
    margin: 70px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    animation-name: slideIn2;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    margin-bottom: 190px;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .card-contenedor {
    font-size: 20px;
    width: 33%;
    text-align: justify;
    background-color: #E6F1F1;
    border-radius: 10px;
    transition: 0.3s;
    margin-bottom: 10px;
    cursor: pointer;
    padding:10px;
  }
  .card-contenedor:hover {
    transition: 0.3s;
    box-shadow: 0px 0px 10px 4px #bad3d3;
  }
  .card-contenedor ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    list-style-type: none;
    line-height: 20px;
    text-align: justify;
    width: 90%;
    display: flex;

    flex-wrap: wrap;
    margin-left: auto; 
}
  .Descripcion-card{
    font-size: 18px;
    line-height: 30px;
  }
  .card-contenedor li {
    font-size: 18px;
    margin-bottom: 10px;
    list-style-type: circle;

    flex-basis: 33.33%;
  }
  .Descripcion-card {
    text-align: start;
  }
  
  .titulo-acerca-de, .titulo-card {
    text-align: center;
  }
  
/* fin de (card-acerca-de)*/

 



/* inicio de (integrantes-equipo) */
.integrantes-equipo {
  width: 95%;
  margin: 90px auto;
  display: flex;
  gap: 0;
  flex-direction: column;
}

.integrantes-equipo .titulo-equipo {
  width: 100%;
  text-align: center;
}

.cards-equipo {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;

}

.integrante-card {
  position: relative;
  width: 35%;
  height: 300px;
  padding: 10px;
  background-color: #E6F1F1;
  border-radius: 10px;
  padding-bottom: 27px;
  transition: 0.3s all;
  margin-bottom: 30px;
  overflow: scroll;

}

/* Estilos de la barra de desplazamiento */
.integrante-card::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

.integrante-card::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo de la barra de desplazamiento */
}

.integrante-card::-webkit-scrollbar-thumb {
  background: #888; /* Color del "pulgar" de la barra de desplazamiento */
  border-radius: 4px; /* Radio de esquina del "pulgar" */
}

.integrante-card::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color del "pulgar" al pasar el cursor por encima */
}

.integrantes-equipo .titulo-equipo{
  margin-bottom: 100px;
}
.integrante-card:hover {
  transition: 0.3s all;
  box-shadow: 0px 0px 10px 4px #becdcd;
}


.integrante-card .nombre{
  margin-top: 30px;
  text-align: center;
  font-size: 20px;

}

.integrante-card .email{
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}


.background {
  position: relative;
  width: 100%;
  height: 120px;
  border-radius: 10px;
  background-color: #1EA8D3;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.back-color2{
  background-color: #afd31e;

}
.back-color3{
  background-color: #d31e1e;
}
.back-color4{
  background-color: #301ed3;
}
.back-color5{
  background-color: #1ed3a6;
}



img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top:0;
  margin-top: 50px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.habilidades{
  
  display: flex;
  width: 100%;
  margin-top: 30px;
  flex-direction: row;
  font-size: 14px;
  gap: 15px;
  text-align: center;
  justify-content: center;
  font-weight: bolder;
  flex-wrap: wrap;
  
  color: rgb(0, 0, 0)


}

.habilidades .habilidad{
  background-color: #51b2cf;
  padding: 5px;
  border-radius: 10px;
}

/*inicio servicios*/

.servicios{
  width: 90%;
  display: flex;
  gap: 50px;
  flex-direction: column;
  margin: 10px auto;
  
}
.servicios h1{
  width: 100%;
  text-align: center;
}
.servicios .card-servicios {
  display: flex;
  flex-wrap: wrap; /* Implementación de flex-wrap */
  gap: 30px;
  width: 100%;
  justify-content: center;
  flex-direction: row;
}

.card-servicios .card {
  width: 40%;
  display: flex;
  gap: 20px;
  padding: 40px;
  text-align: justify;
  border-radius: 10px;
  flex-direction: column;
  background-color: #E6F1F1;
  transition: 0.3s all;
}

.card:hover{
  transition: 0.3s all;
  box-shadow: 0px 0px 10px 4px #becdcd;
}
.card h3{
  text-align: center;
}

/*fin servicios*/


/*inicio Clientes*/
  .contenedor-cliente{
    width: 90%;
    display: flex;
    gap: 70px;
    flex-direction: column;
    margin: 70px auto;
  }
  .contenedor-cliente h1{
    width: 100%;
    text-align: center;
  }
  .contenedor-cliente .cards-clientes{
    display: flex;
    flex-wrap: wrap; /* Implementación de flex-wrap */
    gap: 30px;
    width: 100%;
    justify-content: center;
    flex-direction: row;
  }

  .cards-clientes .card {
    width: 30%;
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
    flex-direction: column;
    background-color: #E6F1F1;
    transition: 0.3s all;
  }
/*fin clientes  */
/*inicio footer*/
footer {
 display: flex;
 flex-direction: column;
 background-color: #E6F1F1;
}

form{
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 70%;
  margin: 40px auto;
  
}
form input,textarea{
  border: none;
  border-radius: 10px;
  padding: 10px;
  outline: none;
}
form h4{
  text-align: center;
}
form button{
  background-color: #1EA8D3;
  width: 120px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 4px #51b2cf86;
  cursor: pointer;
}

.contact-info{
  width: 50%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  

}














@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    text-align: center;
  }

  .contact-info,
  form {
    width: 100%;
  }
  .contact-info{
    font-size: 10px;
  }
}

/*fin footer*/
/*Parte responsiva de la web*/
@media screen and (max-width: 768px) {
    .menu-icon {
      display: block;
    }
    
    .menu {
      display: none;
      text-align: center;
    }
    
    .menu li {
      display: block;
      margin: 10px 0;
    }
    
    .nav-bar.responsive {
      position: relative;
    }
    
    .nav-bar.responsive .menu-icon {
      position: absolute;
      top: 0;
      right: 0;
    }
    
    .nav-bar.responsive .menu-icon:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #000;
      transform-origin: center;
      transition: transform 0.3s ease;
    }
    
    .nav-bar.responsive .menu-icon.open:before {
      transform: rotate(-45deg);
    }
    
    .nav-bar.responsive .menu-icon:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #000;
      transform-origin: center;
      transition: transform 0.3s ease;
    }
    
    .nav-bar.responsive .menu-icon.open:after {
      transform: rotate(45deg);
    }
    
    .nav-bar.responsive .menu-icon.open:before,
    .nav-bar.responsive .menu-icon.open:after {
      top: 50%;
      background-color: #fff;
    }
    
    .nav-bar.responsive .menu-icon.open:before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    
    .nav-bar.responsive .menu-icon.open:after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    
    .nav-bar.responsive .menu-icon:hover:before,
    .nav-bar.responsive .menu-icon:hover:after {
      background-color: #ccc;
    }
    
    .nav-bar.responsive .menu-icon:hover:before,
    .nav-bar.responsive .menu-icon:hover:after,
    .nav-bar.responsive .menu-icon.open:before,
    .nav-bar.responsive .menu-icon.open:after {
      transition: background-color 0.3s ease;
    }
    
    .nav-bar.responsive .menu-icon:hover {
      background-color: transparent;
    }
    
    .nav-bar.responsive .menu-icon.open {
      background-color: transparent;
    }
    
    .nav-bar.responsive .menu-icon.open:hover {
      background-color: transparent;
    }
    
    .nav-bar.responsive .menu-icon.open:hover:before,
    .nav-bar.responsive .menu-icon.open:hover:after {
      background-color: transparent;
    }
    
    .nav-bar.responsive .menu-icon.open:hover:before,
    .nav-bar.responsive .menu-icon.open:hover:after,
    .nav-bar.responsive .menu-icon.open:before,
    .nav-bar.responsive .menu-icon.open:after {
      transition: background-color 0.3s ease;
    }
    
    .nav-bar.responsive .menu-icon:hover,
    .nav-bar.responsive .menu-icon.open {
      transition: background-color 0.3s ease;
    }
    .card-contenedor {
      font-size: 16px;
      width: 90%;
     
    }


    .cards-equipo {
      width: 100%;
      gap: 10px;
    }
    
    .integrante-card {
      width: 70%;
      height: 300px;
      font-size: 4px;
      text-overflow: ellipsis;
      flex-wrap: wrap;
      margin-bottom: 30px;
      padding-bottom: 50px;

    }

    img{
      width: 70px;
      height: 70px;
      margin-top: 90px;
    }
    

    .integrante-card .nombre{
      font-size: 15px;
      margin-top: 50px;
    
    }
    
    .integrante-card .email{
      font-size: 10px;
      
    }

    .habilidades{
      font-size: 7px;
      width: 100%;
      height: 70px;
      display: flex;
      
      gap: 3px;
    }
    
    .card-acerca-de{
      margin-top: 290px;
      margin-bottom: 290px;
    }
    .cards-clientes{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .cards-clientes .card {
      width: 100%;
    }


    .card-servicios .card {
      width: 100%;
    }


    .card-contenedor ul {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
      list-style-type: circle;
      line-height: 30px;
      text-align: justify;
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: auto;
  }
  
  .card-contenedor ul li {
      columns: 2;
      margin: auto;
      width: 45%; /* Ajusta el ancho de los elementos para dejar espacio entre ellos */
  }
    
     
    .cards-clientes .card h1{
      font-size: 13px;
    }
    .cards-clientes .card p{
      font-size: 8px;
    }

    .cards-clientes .card h1{
      font-size: 15px;
    }
    .cards-clientes .card p{
      font-size: 12px;
    }

  }

  @media screen and (max-width: 600px) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  
    .contact-info,
    form {
      width: 100%;
    }
  }
  

  /*Animaciones que se usan*/
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @keyframes slideIn2 {
    0% {
      opacity: 0;
      transform: translateX(-50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @keyframes rebote {
    0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}

  